sync-async-api-implementation-template/src/main/mule/mq-receiver.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:anypoint-mq="http://www.mulesoft.org/schema/mule/anypoint-mq" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:json-logger="http://www.mulesoft.org/schema/mule/json-logger" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/json-logger http://www.mulesoft.org/schema/mule/json-logger/current/mule-json-logger.xsd
http://www.mulesoft.org/schema/mule/anypoint-mq http://www.mulesoft.org/schema/mule/anypoint-mq/current/mule-anypoint-mq.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="reliable-messaging-implementation-subscriber-flow" doc:id="f019d167-fbaf-49ab-834b-ba52b2cfcc88" >
		<anypoint-mq:subscriber doc:name="Subscriber" doc:id="5c897afd-0f85-412e-ab59-0c409262544a" config-ref="Anypoint_MQ_Config" destination="${anypoint-mq.accounts.queue}" acknowledgementTimeout="${anypoint-mq.accounts.queue.ack-timeout-in-sec}" acknowledgementTimeoutUnit="SECONDS" circuitBreaker="Circuit_breaker" acknowledgementMode="MANUAL"/>
		<logger level="INFO" doc:name="Log Entry" doc:id="1b4c98e4-32db-4bc4-b6ca-7ea00a627fb9" message='#["New Message received to the Queue:" ++ attributes.destination default "" ++ "\n messageId:" ++ attributes.messageId default "" ++ "\n Delivery Count: " ++ attributes.deliveryCount]'/>
		<ee:transform doc:name="Set Variables" doc:id="bfd6350a-2871-4c6a-a0e9-72a66f3336eb" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="originalPayload" ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-variable>
				<ee:set-variable variableName="ackToken" ><![CDATA[%dw 2.0
output application/java
---
attributes.ackToken]]></ee:set-variable>
				<ee:set-variable variableName="receiverQueue" ><![CDATA[%dw 2.0
output application/java
---
attributes.destination]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="Publish to Backend" doc:id="cf92ab2a-0ebf-4486-8b45-9e53238a471e" name="post-backend-application"/>
		<anypoint-mq:ack doc:name="Ack" doc:id="2edd6330-3f26-4ddc-8b7b-563d820df879" config-ref="Anypoint_MQ_Config" ackToken="#[vars.ackToken]" />
		<logger level="INFO" doc:name="Log Exit" doc:id="03e62c0b-caeb-4eeb-a78a-c56faca22172" message='#["Call Exit from Queue receiver flow, Message is acknowledged successfully."]'/>
		<error-handler ref="MQError_Handler" />
	</flow>
</mule>
